.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 4em;
  border-bottom: 1px solid #e5e5e5;
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.logo_icon,
.logo_name {
  cursor: pointer;
}

.icon {
  font-size: 1.2rem;
  font-family: sans-serif;
  cursor: pointer;
}

.logo_name {
  margin-left: 0.8em;
  font-size: 1.4rem;
  font-weight: 800;
}

.navbar_menu {
  display: flex;
  list-style: none;
}

.navbar_item {
  position: relative;
  margin: 0 0.5em;
  padding: 0.2em 0.8em;
  cursor: pointer;
}

.item_tag {
  position: absolute;
  top: 0;
  color: #406fff;
  font-size: 0.6rem;
  font-weight: 600;
}

.sideMenu {
  display: flex;
  align-items: center;
  flex-basis: 20%;
}

.sideMenu_left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.sideMenu_left::after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 15px;
  background-color: #e5e5e5;
}

.sideMenu_icon {
  position: relative;
}

.sideMenu_tag {
  position: absolute;
  top: -40%;
  left: 70%;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #406fff;
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
}

.sideMenu_right {
  width: 100%;
}

.side_btn {
  padding: 0.8em;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 0.8rem;
  outline: none;
  cursor: pointer;
}
