.list-card {
  position: relative;
  list-style: none;
  padding: 0 10px;
}

.list-img {
  cursor: pointer;
}

.info {
  position: absolute;
  bottom: 28px;
  left: 34px;
  width: 330px;
  height: 146px;
  padding-left: 20px;
  background-color: #fff;
}

.info_title {
  font-size: 20px;
  font-weight: 700;
}

.info_subTitle {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.info_link {
  display: block;
  width: calc(100% + 20px);
  border-top: 1px solid #e5e5e5;
  text-decoration: none;
  transform: translateX(-20px);
}

.info_tag {
  display: inline-block;
  padding: 20px;
  color: #36f;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
